html{
  max-height: 890px;
}

body{
  background-color: #545454;
  font-family: 'Press Start 2P', cursive;
}

#title {
  letter-spacing: 5px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 0;
  color: lightgoldenrodyellow;
  text-shadow: -2px 2px 1px black,
              2px -2px 1px black,
              -2px -2px 1px black,
              2px 2px 1px black,
              4px 4px 1px black;
}

.titleSmall{
  text-align: center;
  letter-spacing: 4px;
  font-size: 12px;
  color: lightgoldenrodyellow;
  text-shadow: 0px 0px 1.5px lightgoldenrodyellow;
}

.container {
    width: 770px;
    height: 770px;
    margin: auto;
    position: relative;
    top: 25px;
    background: #221E22;
    box-shadow: 1px 1px 2px black,
                -1px -1px 2px black,
                1px -1px 2px black,
                -1px 1px 2px black,
                inset 1px 1px 2px #110,
                inset -1px -1px 2px #110,
                inset 1px -1px 2px #110,
                inset -1px 1px 2px #110,
                inset 0px 0px 5px black;
    border: 7px solid orange;
    border-radius: 3px;
  }

#splashWrap{
  width: fit-content;
  margin: auto;
  text-align: center;
}

#splashTextTitle{
  text-align: center;
  color: lightgoldenrodyellow;
  text-shadow: 0px 0px 2px lightgoldenrodyellow;
  font-size: 65px;
}

.splashText{
  text-align: center;
  color: lightgoldenrodyellow;
  text-shadow: 0px 0px 2px lightgoldenrodyellow;
  font-size: 14px;
}

.splashTextRules{
  width: 510px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: lightgoldenrodyellow;
  text-shadow: 0px 0px 2px lightgoldenrodyellow;
  font-size: 8px;
}

.btnWrap{
  max-width: 150px;
  margin: auto;
  /* position: relative;
  top:75%; */
  /* transform: translate(0,-50%); */
}

button{
  letter-spacing: 1px;
  cursor: pointer;
  height: 50px;
  border: 5px solid limegreen;
  box-shadow: 1px 1px 2px black,
                -1px -1px 2px black,
                1px -1px 2px black,
                -1px 1px 2px black,
                inset 1px 1px 2px #110,
                inset -1px -1px 2px #110,
                inset 1px -1px 2px #110,
                inset -1px 1px 2px #110;
  border-radius: 5px;
  background-color: darkgreen;
  position: relative;
  text-align: center;
  color: lightgoldenrodyellow;
  text-shadow: -1px 1px 1px #112,
              1px -1px 1px #112,
              -1px -1px 1px #112,
              1px 1px 1px #112;
  letter-spacing: 2px;
  font-size: 24px;
  /* margin-top: 13px;
  margin-bottom: 13px; */
  margin: auto;
}

button:hover {
  background-color: limegreen;
  border: 5px solid green;
  color: rgb(201, 255, 121);
}

#introWrap{
  width: 650px;
  margin: auto;
  color: lightgoldenrodyellow;
  font-size: 32px;
  text-align: center;
  line-height: 96px;
}

#introWrapBottom{
  position: relative;
  top: 15%;
  width: 550px;
  margin: auto;
  color: lightgoldenrodyellow;
  text-align: center;
}

#introTop{
  text-shadow: -2px 2px 1px black,
              2px -2px 1px black,
              -2px -2px 1px black,
              2px 2px 1px black,
              3px 3px 1px black;
  margin-top: 100px;
}

#arrow{
  text-shadow: -2px 2px 1px black,
              2px -2px 1px black,
              -2px -2px 1px black,
              2px 2px 1px black;
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding-left: 3px;
  margin-top: 35px;
  font-size: 36px;
}

#introBottom{
  margin-top: 25px;
  font-size: 14px;
}

#countdown{
  width: 500px;
  height: fit-content;
  margin: auto;
  font-size: 150px;
  color: lightgoldenrodyellow;
  text-align: center;
  position: relative;
  top: 25%;
  transform: translate(0%,-50%);
  text-shadow: -2px 2px 1px black,
              2px -2px 1px black,
              -2px -2px 1px black,
              2px 2px 1px black,
              4px 4px 1px black;
}

.scoreBox{
  color: lightgoldenrodyellow;
  text-align: center;
  font-size: 24px;
  margin: auto;
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
}

#multi{
  color: #110;
}

#gameOverWrap{
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 150px;
  font-size: 72px;
  color: lightgoldenrodyellow;
}

#scoreWrap{
  margin: auto;
  margin-top: 15px;
  margin-bottom: 150px;
  font-size: 24px;
}

.yellow{
  color: gold;
  text-shadow: 0px 0px 1.5px gold;
}

.yellowHighlight{
  color: gold;
  text-shadow: -2px 2px 1px black,
                2px -2px 1px black,
                -2px -2px 1px black,
                2px 2px 1px black,
                3px 3px 1px black;
}

.red{
  color: orangered;
  text-shadow: 0px 0px 1.5px orangered;
}

.redSmallName{
  color: orangered;
  text-shadow: 0px 0px 1.5px orangered;
}

.fixSpacing{
  letter-spacing: 2px;
}

#redTitle{
  color: orangered;
}

#versionNumber{
  letter-spacing: -1px;
}